b/***** HEAD *****/


* {
    box-sizing: border-box;
}

* {	
    margin: 0;
}

@font-face {
    font-family: 'Slabo 27px', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'Anton', sans-serif;
	font-family: 'Fredoka One', cursive;
}

#wrap {
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}



/***** BACKGROUND IMAGES *****/

#prlx_lyr_1,
#prlx_lyr_2 {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: -1;
    opacity: .5;	
}


/***** HEADER *****/

.headerSec {
	display: flex;
	flex-direction: row;
    width: 100%;
    height: 200px;	
	padding: 15px;
    background: #fff;
    border: solid 2px darkblue;
    opacity: 0.8;
    filter: alpha(opacity=0.8); 
	overflow: hidden;
	z-index: 100px;
}

.tsLogo {
    position: absolute;
    width: 100%;
	height: auto;
    top: 20px;
	padding-left: 35px;
	z-index: 3;
}


/***** NAV LINKS *****/

 .navPhone2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	height: 35px;
	width: 100%;
	top: 80px;
	right: 10px;
	z-index: 5; 
}
         
.navPhone2 ul {
    color: navyblue;
    list-style-type: none;
}

.navPhone2 li {
    float: left;
	margin: 2px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	font-size: 1.4em;
}

.navPhone2 a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    color: #440099;
    text-decoration: none;	
    border-radius: 10px;
}

a:link {
    color: #440099;
}  

a:visited {
    color: #ff1cd5;
}

a:hover {
    color: #ff1cd5;
}



/***** CONTENT *****/

.content {  
	flex: 1;
	display: flex;
    flex-direction: column;
    width: 100%;
   	padding-bottom: 95px;
}


/***** FRONT CARD *****/

.frontBoth {
	display: flex;
	flex-direction: row;
    width: 100%;
    height: auto;
    background: #ddd;
    border: solid 2px darkblue;
    opacity: 0.8;
    filter: alpha(opacity=0.8); 
	z-index: 100;
}

.frontWeb {
	display: flex;
	flex-direction: column;
    width: 45%;
    height: 600px;
	margin: 50px 80px 0 30px;
	padding: 15px;
    background: powderblue;
    border: solid 2px darkblue;
	z-index: 100px;
}

#create {
	display: inline;
	justify-content: flex-start;
	font-family: 'Lobster', cursive;
	width: 70%;
	color: #cc0000;
	text-shadow: 2px 3px 6px #000;
	font-size: 140px;
}

.web {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
	width: auto;
    font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: mediumpurple;
	text-shadow: 2px 3px 3px #000;
	font-size: 160px;
	list-style-type: none;
}

#design {
	margin-top: 0;
	height: auto;
	font-family: 'Anton', sans-serif;
	color: gold;
	text-shadow: 2px 3px 6px #000;
	font-size: 180px;
	text-align: center;
}

.front2 {
	display: flex;
	flex-direction: column;
    width: 45%;
    height: 600px;
	margin: 50px 0;
	padding: 15px;
    background: powderblue;
    border: solid 2px darkblue;
	z-index: 100px;
}

#write1 {
	display: inline;
	font-family: 'Anton', sans-serif;
	width: 70%;
	color: gold;
	text-shadow: 2px 3px 6px #000;
	font-size: 140px;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
	width: auto;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	color: #cc0000;
	text-shadow: 2px 3px 6px #000;
	margin-top: 80px;
	font-size: 100px;
}

#mktg {
	height: auto;
	font-family: 'Roboto', sans-serif;
	color: mediumpurple;
	text-shadow: 2px 3px 3px #000;
	font-size: 120px;
	margin-top: 60px;
	text-align: center;
}



/***** BACK CARD *****/

.backWeb {
	display: flex;
	flex-direction: column;
    width: 45%;
    height: 600px;
	margin: 50px 80px 0 30px;
	padding: 15px;
    background: mediumpurple;
    border: solid 2px darkblue;
	z-index: 100px;
}

#create2 {
	display: inline;
	justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
	width: 70%;
	color: #cc0000;
	font-size: 10em;
}

.backPtxt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
	width: auto;
    font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 2em;
	list-style-type: none;
}

.backWrite {
	display: flex;
	flex-direction: column;
    width: 45%;
    height: 600px;
	margin: 50px 0;
	padding: 15px;
    background: mediumpurple;
    border: solid 2px darkblue;
	z-index: 100px;
}

#write2 {
	display: inline;
	font-family: 'Anton', sans-serif;
	width: 70%;
	color: yellow;
	font-size: 140px;
}

#mktg2 {
	height: auto;
	font-family: 'Roboto', sans-serif;
	color: cyan;
	font-size: 2em;
	margin-top: 60px;
	text-align: center;
}


/***** PORTFOLIO *****/

#portfolio {
	display: inline-flex;
	flex-direction: row;
    width: 100%;
    height: auto;	
	padding: 15px;
    background: powderblue;
    border: solid 2px darkblue;
    opacity: 0.8;
    filter: alpha(opacity=0.8); 
	overflow: hidden;
	align-items: center;
	z-index: 100px;
}

#portfolio img {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 15px;
	width: 25%;
	height: 100%;
}

#portfolio a {
	
}



/***** CONTACT INFO *****/

.contactPg {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 200x;
	padding-right: 25px;
 	background: #fff;
	border-bottom: solid 3px darkblue;
}

#phone {
	display: flex;
	flex-direction: column;
	width: 45%;
	height: auto;
	right: 0;
}

#phone img {
	display: flex;
	flex-direction: column;
	height: 80px;
	width: auto;
	padding-left: 15px;
	background-size: contain;
}

p {
	
	display: flex;
	flex-direction: column;
	padding: 15px;
	color: #000;
}

#linkedIn {
	display: flex;
	flex-direction: column;
	width: 140px;
	height: auto;
}

#mail {
	display: flex;
	flex-direction: column;
	width: auto;
	margin-left: 850px;
}

#mail img {
	height: 80px;
	width: auto;
	background-size: contain;
	margin-left: 55px;
}

